*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1510px;
}
@font-face {
    font-family: font;
    src: url("../fonts/Manrope-Regular.ttf");
}
.header img{
    width: 1510px;
    height: 900px;
}
.img{
    margin-top: -830px;
    margin-left: 100px;
}
.img img{
    cursor: pointer;
}
.header_title{
    width: 600px;
    height: 50px;
    text-align: center;
    font-family: font;
    margin-top: 50px;
    margin-left: 350px;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    line-height: normal;
}
.box button{
    width: 221px;
    height: 54px;
    padding: 8px 32px;
    border: solid white;
    color: #FFF;
    margin-left: 100px;
    text-align: center;
    font-family: font;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    background: none;
    cursor: pointer;
}
.box{
    margin-top: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    transition: .6s;
    background-color: white;
    color: black;
}


.box1_title{
    color: white;
    font-family: font;
    margin-top: 330px;
    margin-left: 150px;
}
.box1_title h2{
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 135px;
}
.box1{
    background-color: black;
    width: 1510px;
    height: 1400px;
    margin-top: 124px;
    display: flex;
    margin: 0 auto;
}
.box1_title p{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.images{
    margin-left: 100px;
    margin-top: 300px;
}
.tesla_images img{
    width: 600px;
    height: 336px;
    margin-top: 1200px;
}
.tesla_images{
    margin-top: -1850px;
    margin-left: 135px;
}
.nav_titles{
    width: 650px;
    height: 280px;
    color: white;
    font-family: font;
    margin-left: -50px;
}
.nav_titles{
    margin-top: -290px;
    margin-left: 855px;
}
.nav_titles h2{
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}
.nav_titles p{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.navs{
    background-color: #000;
    width: 1510px;
    margin: 0 auto;
    height: 1700px;
    display: flex;
}
.navs_title{
    color: white;
    font-family: font;
    margin-top: 330px;
    margin-left: 135px;
}
.navs_title h2{
    color: #FFF;
    font-family: font;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.navs_title p{
    color: #FFF;
    font-family: font;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.card_images img{
    width: 1200px;
    height: 638px;
    margin-top: -1100px;
    margin-left: 135px;
    display: flex;
}
.card_images{
    margin-top: -1060px;
}




.navs_title1{
    color: white;
    font-family: font;
    margin-top: 190px;
    margin-left: 135px;
}
.navs_title1 h2{
    color: #FFF;
    font-family: font;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.navs_title1 p{
    color: #FFF;
    font-family: font;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.card_images1 img{
    width: 1200px;
    height: 638px;
    margin-top: -1100px;
    margin-left: 135px;
    display: flex;
}
.card_images1{
    margin-top: -1250px;
}
.card_img{
    margin-top: 100px;
    display: flex;
    margin-left: 300px;
}
.card_imag{
    margin-top: -220px;
    margin-left: 370px;
    display: flex;
    cursor: pointer;
}
@media only screen and (max-width: 380px){
    .img{
        margin-left: 500px;
    }
    .header_title{
    width: 600px;
    height: 50px;
    text-align: center;
    font-family: font;
    margin-top: 50px;
    margin-left: -50px;
    font-size: 20px;
    color: #000;
    font-weight: 400;
    line-height: normal;
}
.box{
    width: 800px;
    margin-top: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}
}